Repository iKeaght/Coding_Cartel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx stylelint --fix

.lintstagedrc.json:

{
  "./pages/*.{js,jsx}": [
    "eslint --fix"
  ],
  "./database/*.{js,jsx}": [
    "eslint --fix"
  ],
  "./styles/*.css": [
    "npx stylelint --fix"
  ]
}

Correcting syntax & configuring husky pre-commit
  .eslintrc.js
  .gitignore
  .husky/pre-commit
  package.json
  pages/activites/[id].js
  pages/activites/index.js
  pages/components/footer.js
  pages/components/navbar.js
  pages/comps/footer.js
  pages/comps/navbar.js
  pages/contact.js
  pages/index.js
  pages/projets/[id].js
  pages/projets/index.js
  pages/vision.js
  styles/Home.module.css
  styles/globals.css
Due: eslint --fix, npx stylelint --fix

Migrations, seeders setting & husky fix
  .eslintrc.js
  .lintstagedrc.json
  .sequelizerc
  config/sequelizeConfig.js
  database/migrations/00000000_create_models_tables.js
  database/models/activity.js
  database/models/activityTag.js
  database/models/index.js
  database/models/project.js
  database/models/projectTechnology.js
  database/models/projectUser.js
  database/models/tag.js
  database/models/technology.js
  database/models/user.js
  database/seeders/00000005-Technologies.js
  database/seeders/00000010-Tags.js
  database/seeders/00000015-Projects.js
  database/seeders/00000020-Users.js
  database/seeders/00000025-Activities.js
  database/seeders/00000030-Projects_Technologies.js
  database/seeders/00000035-Projects_Users.js
  database/seeders/00000040-Activities_Tags.js
  database/seeders/helper/helper.js
  package-lock.json
  package.json
Due: none

Adding global colors to globals.css
  styles/globals.css
Due: npx stylelint --fix

CSS Navbar & Footer
  package-lock.json
  pages/components/navbar.js
  styles/CSS_components/footer.module.css
  styles/CSS_components/navbar.module.css
Due: none

1st Navbar version
  pages/components/navbar.js
  pages/index.js
  styles/CSS_components/navbar.module.css
  styles/Home.module.css
Due: eslint --fix, npx stylelint --fix

1st Navbar version
  .stylelintrc.js
  pages/components/navbar.js
  pages/index.js
  styles/CSS_components/navbar.module.css
  styles/Home.module.css
Due: eslint --fix, npx stylelint --fix

Adding font and colors
  postcss.config.js
  styles/fonts/oswald/OFL.txt
  styles/fonts/oswald/Oswald-Variable-Font.ttf
  styles/fonts/oswald/README.txt
  styles/fonts/oswald/static/Oswald-Bold.ttf
  styles/fonts/oswald/static/Oswald-ExtraLight.ttf
  styles/fonts/oswald/static/Oswald-Light.ttf
  styles/fonts/oswald/static/Oswald-Medium.ttf
  styles/fonts/oswald/static/Oswald-Regular.ttf
  styles/fonts/oswald/static/Oswald-SemiBold.ttf
  styles/globals.css
  tailwind.config.js
Due: npx stylelint --fix

Layout change and tailwind modification
  .stylelintrc.js
  components/footer.js
  components/navbar.js
  package-lock.json
  pages/_app.js
  pages/activites/[id].js
  pages/activites/index.js
  pages/components/footer.js
  pages/components/navbar.js
  pages/contact.js
  pages/index.js
  pages/projets/[id].js
  pages/projets/index.js
  pages/vision.js
  styles/globals.css
  tailwind.config.js
Due: eslint --fix, npx stylelint --fix

Adding footer and logo
  components/footer.js
  components/layout/footer.js
  components/layout/navbar.js
  pages/_app.js
  pages/a-propos.js
  public/logo.png
  styles/CSS_components/footer.module.css
  styles/CSS_components/navbar.module.css
  styles/globals.css
Due: eslint --fix, npx stylelint --fix

Welcome page, rectifying postcss config
  .stylelintrc.js
  package-lock.json
  package.json
  pages/_app.js
  pages/index.js
  postcss.config.js
  styles/Home.module.css
  styles/globals.css
  styles/pages/index.module.css
Due: eslint --fix, npx stylelint --fix

Responsive navbar
  components/layout/footer.js
  components/layout/navbar.js
  postcss.config.js
  styles/components/layout/navbar.module.css
Due: none

Vision page add, modifying footer, navbar and layout
  components/layout/footer.js
  components/layout/navbar.js
  pages/_app.js
  pages/index.js
  pages/vision.js
  public/img/vision/eye_icon.svg
  styles/globals.css
Due: eslint --fix, npx stylelint --fix

Adding projects page and components
  .eslintrc.js
  components/card.js
  components/tag.js
  components/tagList.js
  next.config.js
  pages/api/projects/[id].js
  pages/api/projects/index.js
  pages/projets/index.js
  styles/components/card.module.css
  styles/globals.css
Due: npx stylelint --fix

Projects page & correcting database access
  components/card.js
  components/period.js
  database/models/index.js
  package-lock.json
  package.json
  pages/api/projects/complete.js
  pages/api/projects/index.js
  pages/projets/index.js
  styles/components/card.module.css
Due: none

Activities page
  pages/activites/index.js
  pages/api/activities/[id].js
  pages/api/activities/complete.js
  pages/api/activities/index.js
Due: none

Added api routes
  database/helper/helper.js
  database/migrations/00000000_create_models_tables.js
  database/models/activity.js
  database/models/project.js
  database/seeders/00000005-Technologies.js
  database/seeders/00000010-Tags.js
  database/seeders/00000015-Projects.js
  database/seeders/00000020-Users.js
  database/seeders/00000025-Activities.js
  database/seeders/00000030-Projects_Technologies.js
  database/seeders/00000035-Projects_Users.js
  database/seeders/00000040-Activities_Tags.js
  package-lock.json
  package.json
  pages/api/activities/[id].js
  pages/api/activities/[slug]/complete.js
  pages/api/activities/[slug]/index.js
  pages/api/activities/add.js
  pages/api/activities/complete.js
  pages/api/activities/index.js
  pages/api/hello.js
  pages/api/projects/[id].js
  pages/api/projects/[slug]/complete.js
  pages/api/projects/[slug]/index.js
  pages/api/projects/add.js
  pages/api/projects/complete.js
  pages/api/projects/index.js
  tests/api/activities/index.test.js
  tests/api/hello.test.js
  tests/api/projects/index.test.js
  tests/pages/pages.test.js
Due: none
